$margin: 42px;

:host {
  display: block;
  padding-bottom: $margin;
}

header {
  background: url('/assets/header.jpg') no-repeat scroll left top;
  padding-top: 84px;
  padding-bottom: 70px;
  margin-bottom: $margin;
}

h2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;

  span {
    color: #555;
    margin-left: 0.3em;
  }
}

::ng-deep h3 {
  color: #292929;
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 0 13px 0;
  text-transform: uppercase;
}
