:host {
  display: block;
  padding-top: 84px;

  h2 {
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 70px;
    text-align: center;
    text-transform: uppercase;

    span {
      color: #999999;
      margin-left: 0.3em;
    }
  }
}
