<header>
  <div class="container">
    <h2>
      <ng-container *ngFor="let section of sections; let last = last">
        <ng-container *ngIf="section.link; else current">
          <a [routerLink]="section.link">{{ section.title }}</a>
        </ng-container>
        <ng-template #current>
          {{ section.title }}
        </ng-template>
        <span *ngIf="!last">/</span>
      </ng-container>
    </h2>
  </div>
</header>

<section class="container">
  <ng-content></ng-content>
</section>
