mat-card {
  margin-bottom: 1em;
}

dyn-factory {
  margin-right: 1em;
}

.dyn-field-address1,
.dyn-field-address2 {
  display: block;

  dyn-mat-input {
    display: block;

    .mat-form-field {
      width: 100%;
    }
  }
}

mat-radio-group {
  display: inline-block;
  margin: 0.5em 0;
}
