<web-section>
  <web-section-badges [badges]="badges"></web-section-badges>
  <web-section-actions [actions]="actions"></web-section-actions>

  <fieldset>
    <h3>Sponsors Datasource</h3>

    <p>
      Fetching records from <strong>Firebase</strong>, with a <var>Database</var> that is able to process the specific
      <strong>Firestore</strong> requirements, and a <var>DataSource</var> that reacts to different UI observables like the
      filter and paginator. The concepts are illustrated in <a target="_blank"
      href="https://medium.com/@matheo/reactive-datasource-for-angular-1d869b0155f6">this article</a> at Medium.
    </p>

    <web-datasource-list-table [source]="source"></web-datasource-list-table>

    <web-datasource-list-filter [source]="source"></web-datasource-list-filter>

  </fieldset>
</web-section>
