<web-section>
  <web-section-actions fxLayout="row-reverse" fxLayoutGap="5px">
    <a mat-icon-button matTooltip="See source code" target="_blank"
    href="https://github.com/matheo/angular/blob/master/apps/website/src/app/demos/submodules/datasource/datasource.module.ts">
      <mat-icon>code</mat-icon>
    </a>

    <a mat-icon-button matTooltip="NPM Package" target="_blank"
    href="https://www.npmjs.com/package/@matheo/datasource">
      <ion-icon name="logo-npm"></ion-icon>
    </a>

    <a mat-icon-button matTooltip="Medium Article" target="_blank"
    href="https://medium.com/@matheo/reactive-datasource-for-angular-1d869b0155f6">
      <ion-icon name="logo-medium"></ion-icon>
    </a>
  </web-section-actions>

  <fieldset>

    <h3>Sponsors Datasource</h3>

    <p>
      Fetching records from <strong>Firebase</strong>, with a <var>Database</var> that is able to process the specific
      <strong>Firestore</strong> requirements, and a <var>DataSource</var> that reacts to different UI observables like the
      filter and paginator. The concepts are illustrated in <a target="_blank"
      href="https://medium.com/@matheo/reactive-datasource-for-angular-1d869b0155f6">this article</a> at Medium.
    </p>

    <web-datasource-list-table [source]="source"></web-datasource-list-table>

    <web-datasource-list-filter [source]="source"></web-datasource-list-filter>

  </fieldset>
</web-section>
