<web-section>
  <form [formGroup]="form" fxLayout="row wrap">
    <web-section-actions fxLayout="column" fxLayoutGap="5px">
      <a mat-icon-button matTooltip="See source code" target="_blank"
      href="https://github.com/matheo/angular/blob/master/apps/website/src/app/demos/components/datepicker/datepicker.component.html">
        <mat-icon>code</mat-icon>
      </a>

      <a mat-icon-button matTooltip="NPM Package" target="_blank"
      href="https://www.npmjs.com/package/@matheo/datepicker">
        <ion-icon name="logo-npm"></ion-icon>
      </a>

      <a mat-icon-button matTooltip="Material Issue" target="_blank"
      href="https://github.com/angular/components/issues/5648">
        <ion-icon name="logo-github"></ion-icon>
      </a>
    </web-section-actions>

    <fieldset fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex="33">

      <h3>Date picker</h3>

      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="pdd" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="pdd"></mat-datepicker-toggle>
        <mat-datepicker #pdd type="date">
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
        <mat-hint>{{ form.value.date | date:'mediumDate' }}</mat-hint>
      </mat-form-field>
    </fieldset>

    <fieldset fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex="33">
      <h3>DateTime picker</h3>

      <mat-form-field appearance="fill">
        <mat-label>Choose a datetime</mat-label>
        <input matInput [matDatepicker]="pdt" formControlName="datetime">
        <mat-datepicker-toggle matSuffix [for]="pdt"></mat-datepicker-toggle>
        <mat-datepicker color="accent" #pdt type="datetime">
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="accent" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
        <mat-hint>{{ form.value.datetime | date:'short' }}</mat-hint>
      </mat-form-field>
    </fieldset>

    <fieldset fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex="33">
      <h3>Time picker</h3>

      <mat-form-field appearance="fill">
        <mat-label>Choose a time</mat-label>
        <input matInput [matDatepicker]="ptt" formControlName="time">
        <mat-datepicker-toggle matSuffix [for]="ptt"></mat-datepicker-toggle>
        <mat-datepicker #ptt type="time" [twelveHour]="false">
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
        <mat-hint>{{ form.value.time | date:'shortTime' }}</mat-hint>
      </mat-form-field>
    </fieldset>

    <fieldset fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex="33">
      <h3>Month picker</h3>

      <mat-form-field appearance="fill">
        <mat-label>Choose a month</mat-label>
        <input matInput [matDatepicker]="pmm" formControlName="month">
        <mat-datepicker-toggle matSuffix [for]="pmm"></mat-datepicker-toggle>
        <mat-datepicker #pmm type="month">
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
        <mat-hint>{{ form.value.month | date:'MMM  y' }}</mat-hint>
      </mat-form-field>
    </fieldset>

    <fieldset fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex="33">
      <h3>Year picker</h3>

      <mat-form-field appearance="fill">
        <mat-label>Choose a year</mat-label>
        <input matInput [matDatepicker]="pyy" formControlName="year">
        <mat-datepicker-toggle matSuffix [for]="pyy"></mat-datepicker-toggle>
        <mat-datepicker #pyy type="year">
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
        <mat-hint>{{ form.value.year | date:'y' }}</mat-hint>
      </mat-form-field>
    </fieldset>

    <fieldset fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex="33">
      <h3>Touch UI</h3>

      <mat-form-field appearance="fill">
        <mat-label>Bigger popup</mat-label>
        <input matInput [matDatepicker]="pui" formControlName="touchUI">
        <mat-datepicker-toggle matSuffix [for]="pui"></mat-datepicker-toggle>
        <mat-datepicker #pui type="datetime" touchUi [dateClass]="dateClass">
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
        <mat-hint>With a custom dateClass function</mat-hint>
      </mat-form-field>
    </fieldset>

    <fieldset fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex="33">
      <h3>Start parameters</h3>

      <mat-form-field appearance="fill">
        <mat-label>Starting in 1990</mat-label>
        <input matInput [matDatepicker]="pp" formControlName="start">
        <mat-datepicker-toggle matSuffix [for]="pp"></mat-datepicker-toggle>
        <mat-datepicker #pp type="datetime" startView="multi-year" [startAt]="startDate"></mat-datepicker>
        <mat-hint>Starting in 1990 in the multi-year view</mat-hint>
      </mat-form-field>
    </fieldset>

    <fieldset fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex="33">
      <h3>Filter validation</h3>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Choose a working date</mat-label>
        <input matInput [matDatepickerFilter]="excludeFilter" [matDatepicker]="pfilter" formControlName="filter">
        <mat-datepicker-toggle matSuffix [for]="pfilter"></mat-datepicker-toggle>
        <mat-datepicker #pfilter type="datetime" [twelveHour]="false"></mat-datepicker>
        <mat-hint>Only office hours are enabled</mat-hint>
      </mat-form-field>
    </fieldset>

    <fieldset fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex="33">
      <h3>Date range</h3>

      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="range">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="range"></mat-datepicker-toggle>
        <mat-date-range-picker #range></mat-date-range-picker>
        <mat-hint>mat-date-range-input is not modified</mat-hint>
      </mat-form-field>
    </fieldset>

  </form>
</web-section>
