mat-selection-list {
  margin-top: 250px;
  min-width: 250px;

  ::ng-deep {
    .mat-list-option {
      margin-bottom: 20px;
    }

    .mat-list-text {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 42px;
      font-weight: 500;
      letter-spacing: -0.5px;
      line-height: 50px;
      text-align: right;
      text-transform: uppercase;
    }
  }

  a:hover,
  a:visited {
    color: inherit;
  }
}
