.mat-icon-button {
  color: black;
  position: absolute;

  left: 10px;
  top: 10px;

  height: 56px;
  width: 56px;

  .mat-icon {
    font-size: 42px;
    line-height: 42px;
    height: 42px;
    width: 42px;
  }
}

.mat-drawer {
  background: #f4eead;
}

:host {
  &.home {
    // home menu icon is white
    main {
      .mat-icon-button {
        color: white;
      }
    }
  }
}

footer {
  display: none;
}
