.mat-icon-button {
  position: absolute;

  left: 10px;
  top: 10px;

  height: 56px;
  width: 56px;

  .mat-icon {
    color: white;
    font-size: 42px;
    line-height: 42px;
    height: 42px;
    width: 42px;
  }
}

.mat-drawer {
  background: #f4eead;

  .mat-icon-button {
    .mat-icon {
      color: black;
    }
  }
}

footer {
  display: none;
}
