<div class="container">
  <div class="header-content">
    <h1>
      I'm <noscript>Mateo Tibaquira</noscript>
      <span #typed></span>
    </h1>
    <p>Doer / Creative / Proactive</p>

    <ul class="list-unstyled list-social">
      <li>
        <a href="http://www.linkedin.com/in/matheoco">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </li>
      <li>
        <a href="http://stackoverflow.com/story/matheo">
          <ion-icon name="logo-stackoverflow"></ion-icon>
        </a>
      </li>
      <li>
        <a href="https://github.com/matheo">
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </li>
      <li>
        <a href="https://www.paypal.me/mateotp">
          <ion-icon name="logo-paypal"></ion-icon>
        </a>
      </li>
      <li>
        <a href="mailto:me@matheo.co">
          <ion-icon name="mail-outline"></ion-icon>
        </a>
      </li>
    </ul>
  </div>
</div>
