<div class="container">
  <div class="header-content">
    <h1>
      I'm <noscript>Mateo Tibaquira</noscript>
      <span #typed></span>
    </h1>
    <p>Doer / Creative / Proactive</p>

    <ul class="list-unstyled list-social">
      <li>
        <a href="http://www.linkedin.com/in/matheoco">
          <ion-icon name="logo-linkedin" aria-label="LinkedIn profile"></ion-icon>
        </a>
      </li>
      <li>
        <a href="https://stackoverflow.com/users/885259/mateo-tibaquira">
          <ion-icon name="logo-stackoverflow" aria-label="StackOverflow profile"></ion-icon>
        </a>
      </li>
      <li>
        <a href="https://github.com/matheo">
          <ion-icon name="logo-github" aria-label="GitHub profile"></ion-icon>
        </a>
      </li>
      <li>
        <a href="https://matheo.medium.com/">
          <ion-icon name="logo-medium" aria-label="Medium articles"></ion-icon>
        </a>
      </li>
      <li>
        <a href="https://dev.to/matheo">
          <ion-icon name="create" aria-label="Dev.to profile"></ion-icon>
        </a>
      </li>
      <li>
        <a href="https://www.paypal.me/mateotp">
          <ion-icon name="logo-paypal" aria-label="PayPal profile"></ion-icon>
        </a>
      </li>
      <li>
        <a href="mailto:me@matheo.co">
          <ion-icon name="mail-outline" aria-label="Email me"></ion-icon>
        </a>
      </li>
    </ul>
  </div>
</div>
